<!-- TO BE INSERTED AFTER THE BOARD -->
<md-content flex id="currentResources">
<h3> Current die roll</h3>
	<md-button ng-click="rollDieButtonPressed();">Roll the die</md-button>
	<div ng-if="main.userAlreadyRolledDieThisTurn">
		<p>{{main.lastDieRollValue}}</p>
	</div>

<h3>Victory points</h3>
	<p>you have {{main.victoryPoints}}</p>

<h3>Current Resources</h3>
	<div ng-if="main.resources.length != 0">
		<p>Wood: {{main.resources.wood}} </p>
		<p>Brick: {{main.resources.brick}} </p>
		<p>Ore: {{main.resources.ore}} </p>
		<p>Grain: {{main.resources.grain}} </p>
		<p>Sheep: {{main.resources.sheep}} </p>
	</div>
</md-content>

<md-content flex id="currentDevCards">
<h3>Current Dev Cards</h3>
	<div ng-if="main.devCards.length != 0">
		<p>Year of plenty: {{main.devCards[yearOfPlenty]}} </p>
		<p>Road Building: {{main.devCards[roadBuilding]}} </p>
		<p>Knight: {{main.devCards[knight]}} </p>
		<p>Monopoly: {{main.devCards[monopoly]}} </p>
		<p>Victory Point: {{main.devCards[victoryPoint]}} </p>
	</div>
</md-content>

<md-content flex id="otherInformation">
<h3>Other Information</h3>
	<!-- Knights -->
	<div>
		<h4>Knights Played</h4>
	</div>
	<div ng-repeat="player in main.players">
		<p>Player number{{player}}: {{player.knightsPlayed}} knights</p>
	</div>

	<div ng-if="main.hasLargestArmy">
		<p>You currently have the largest Army worth 2 VP>
	</div> 
	<!-- Longest Road -->
	<div>
		<h4>Longest Road Info</h4>
	</div>
	<div ng-repeat="player in main.players">
		<p>{{player.name}}: {{player.longestRoad}} roads</p>
	</div>

	<div ng-if="main.hasLongestRoad">
		<p>You currently have the longestRoad worth 2 VP>
	</div> 

	<!-- Current VP cards Played -->
	<div><h4>Victory Point cards</h4></div>
	<p>You've played {{main.victoryPointCardsPlayed}} victory point cards</p>
	<!-- Current Settlements -->
	<!-- Current cities -->
	<div>
		<h4>My Cities</h4>
		<div ng-repeat="city in main.cities">
			<p>{{city}}</p>
		</div>
	</div>
	<!-- Current Settlements -->
	<div>
		<h4>My settlements</h4>
		<div ng-repeat="settlement in main.settlements">
			<p>{{settlement}}</p>
		</div>
	</div>
	<!-- Current roads -->
	<div>
		<h4>My Roads</h4>
		<div ng-repeat="road in main.roads">
			<p>{{road}}</p>
		</div>
	</div>
	<!-- Current Ports -->
	<div>
		<h4>My Ports</h4>
		<div ng-repeat="port in main.ports">
			<p>{{port}}</p>
		</div>
	</div>
</md-content>
<md-content flex id="leaderboard">


<!-- *** Player Actions ***-->
<h3>Leader Board</h3>
	<div ng-repeat="player in main.players">
		<p>Player {{player}}: {{player.victoryPoints}}</p>
	</div>
</md-content>
<md-content flex id="EndTurnbutton">
	<md-button id="endTurnBtn" ng-click="endTurnPressed();">End Turn</md-button>
</md-content>

<md-content flex id="BuildingForm">
<div>
<md-input-container>
        <label>Road Location</label>
        <input ng-model="main.buildRoadLocation">
        <md-button id="buildRoadBtn" ng-click="buildRoadButtonPressed();">Build Road</md-button>
</md-input-container>	
</div>
<div>
<md-input-container>
        <label>Settlement Location</label>
        <input ng-model="main.buildSettlementLocation">
        <md-button id="buildSettlementBtn" ng-click="buildSettlementButtonPressed();">Build Settlement</md-button>
</md-input-container>
</div>
<div>
<md-input-container>
        <label>City Location</label>
        <input ng-model="main.buildCityLocation">
        <md-button id="buildCityBtn" ng-click="buildCityButtonPressed();">Build City</md-button>
</md-input-container>
</div>
</md-content>
<!-- New: -->
<md-content flex id="DevCardForm">
<div>
	<md-input-container>
	<label>Play Dev Card Form</label>
	<input ng-model="main.selectedDevCard">
	<md-button id="devCardPlay" ng-click="selectDevCardButtonPressed();">Select Development Card</md-button>
	<div ng-if="main.devCardMonopolyYOP">
		<label>
			Choose one (monopoly) OR one/two (Year of Plenty)
		</label>
		<label>Brick:
			<input type="checkbox" ng-model="main.devCardBrick">
		</label><br/>
		<label>Wood:
			<input type="checkbox" ng-model="main.devCardWood">
		</label><br/>
		<label>Sheep:
			<input type="checkbox" ng-model="main.devCardSheep">
		</label><br/>
		<label>Grain:
			<input type="checkbox" ng-model="main.devCardGrain">
		</label><br/>
		<label>Ore:
			<input type="checkbox" ng-model="main.devCardOre">
		</label><br/>
	</div>
	<div ng-if="main.devCardKnight">
		<label>Tile Number</label>
        <input ng-model="main.devCardKnightLocation">
	</div>
	<div ng-if="main.lastDieRollValue == 7">
		<label>Play Robber</label>		
		<input ng-model="main.robberLocation">
	</div>
	<div ng-if="main.devCardRoadBuilding">
		<label>Road Number 1</label>
        <input ng-model="main.devCardRoadLocation1">
       	<label>Road Number 2</label>
        <input ng-model="main.devCardRoadLocation2">
	</div>
	<md-button id="devCardPlay" ng-click="playDevCardButtonPressed();">Play Development Card</md-button>
	</md-input-container>	
</div>

</md-content>

